body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

div {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}
/* Button styles for when user has not liked or disliked the post */
.like-button.not-liked {
  background-color: green;
  color: white;
}

.dislike-button.not-disliked {
  background-color: red;
  color: white;
}

/* Button styles for when user has liked the post */
.like-button.liked {
  background-color: blue;
  color: white;
}

.dislike-button.liked {
  background-color: red;
  color: white;
}

/* Button styles for when user has disliked the post */
.like-button.disliked {
  background-color: green;
  color: white;
}

.dislike-button.disliked {
  background-color: orange;
  color: white;
}
